// FONTS:

$f-ultralight: 100;
$f-extralight: 100;
$f-semi-light: 200;
$f-thin: 200;
$f-light: 300;
$f-regular: 400;
$f-normal: 400;
$f-medium: 500;
$f-semibold: 600;
$f-demibold: 600;
$f-bold: 700;
$f-heavy: 800;
$f-extrabold: 800;
$f-black: 900;

$font-quicksand: "Quicksand", sans-serif;
$font-poppins: "Poppins", sans-serif;

$font-main: $font-quicksand;
$font-secondary: $font-poppins;

$f-size-h1: 72px;
$f-size-h2: 54px;
$f-size-h3: 24px;
$f-size-p1: 22px;
$f-size-p2: 18px;
$f-size-p3: 16px;
$f-size-btn1: 18px;
$f-size-btn2: 16px;
$f-size-h2-small: 40px;

// COLORS:
$text-black: #181920;
$color-purple: #6e4fff;
$color-purple-hover: #442ea5;
$color-blue: #316aff;
$color-light-gray: #f4f4f4;
$color-pink-gray: #faf2f2;
$color-white: #ffffff;

// PAGE PADDING:
$page-padding: 145px;
$page-padding-smaller-desktop: 100px;
$page-padding-tab-port: 60px;
$page-padding-phone: 30px;
